.input {
  height: 3.704vh;
  width: 100%;
  padding: 8px 12px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--filed, #f2f4fa);
  background: var(--filed, #f2f4fa);
}

.input:focus {
  border: 1px solid #dddaf8;
  box-shadow: none;
  outline: none;
}
