textarea {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #d4daf8);
  color: var(--H1, #1f0039);
  font-family: Rubik;
  font-size: 16px;
}

textarea:focus {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #d4daf8; /* Directly specifying the color */
  color: #1f0039; /* Assuming --H1 is correctly defined, otherwise directly specify this color too */
  font-family: Rubik;
  font-size: 16px;
}

textarea::placeholder {
  opacity: 0.4;
}
