.tabs-container {
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: #9599c6;
  line-height: 24px;
}

.tabs-item {
  position: relative;
  padding-bottom: 2px;
  cursor: pointer;
  padding-right: 0.5vw;
}

.tabs-item.current-tab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 110%;
  background: linear-gradient(127deg, #6c60ff 18.87%, #3b2ed1 71.49%);
}

.tabs-item.current-tab {
  background: linear-gradient(127deg, #6c60ff 18.87%, #3b2ed1 71.49%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
