.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 19, 43, 0.21);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.upload-popup {
  width: 42vw;
  height: 66.4vh;
  min-height: 500px;
  text-align: right;
  font-size: 16px;
  position: relative;
  background-color: #fff;
}

.upload-popup-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ebeef3;
  transform: translateY(-50%);
}

.upload-popup-header {
  color: #444a5a;
  font-size: 24px;
  font-weight: 700;
  height: fit-content;
}

.upload-back-button {
  border: 2px solid #5d5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 42px;
  cursor: pointer;
}

.upload-popup-top {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.upload-popup-content {
  padding: 24px 32px;
}

.upload-popup-text {
  color: #4c4c66;
  font-size: 14px;
  font-weight: 400;
}

.upload-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
}

.upload-exit-button {
  float: left;
  cursor: pointer;
  width: 24px;
}
