.upload-popup-detale {
  font-weight: 700;
}

.upload-popup-text-container {
  display: flex;
  gap: 26px;
}

.upload-popup-button {
  width: 145px;
  height: 42px;
  background: #4761be;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: left;
  margin-right: 4px;
}

.upload-exit-button {
  float: left;
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 4px;
}
