.favorite-edu-title {
  color: var(--white, var(--Main-colors-White, #fff));
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 23px;
  bottom: 30px;
}

.favorite-edu-container {
  color: #5d5d5d;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.favorite-edu-info {
  display: flex;
  justify-content: space-between;
}

.favorite-icon-container {
  width: 37px;
  height: 37px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}

.favorite-icons-container {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 18px;
  right: 20px;
}

.favorite-add-text {
  color: #5777ff;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
}

.favorite-add-container {
  display: flex;
  width: fit-content;
  padding-right: 10px;
}

.favorite-type {
  display: flex;
  padding: 4.324px 11.529px;
  justify-content: center;
  align-items: center;
  gap: 14.412px;
  border-radius: 2.882px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 400;
  color: var(--white, var(--Main-colors-White, #fff));
}

.favorite-type-container {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 18px;
  left: 20px;
}
