.favorite-edu-title {
  color: var(--white, var(--Main-colors-White, #fff));
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 23px;
  bottom: 20px;
}

.favorite-edu-top-gradient {
  position: absolute;
  width: 100%;
  height: 9.3vh;
  transform: rotate(180deg);
  background: linear-gradient(
    180deg,
    rgba(53, 52, 60, 0) 20%,
    rgba(51, 50, 58, 0.8) 80%
  );
}

.favorite-edu-container {
  color: #5d5d5d;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.favorite-icon-container {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(252, 78, 132, 0.3);
}

.favorite-icons-container {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 18px;
  right: 20px;
}

.favorite-add-text {
  color: #5777ff;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
}

.favorite-add-container {
  display: flex;
  width: fit-content;
  padding-right: 10px;
}

.favorite-type {
  display: flex;
  padding: 4.324px 11.529px;
  justify-content: center;
  align-items: center;
  gap: 14.412px;
  border-radius: 2.882px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 400;
  color: var(--white, var(--Main-colors-White, #fff));
}

.favorite-type-container {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 18px;
  left: 20px;
}

.favorite-heart {
  width: 13px;
}
