.recommended-item {
  /* position: relative; */
  /* top: -0.15px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0.9px; */

  /* display: flex;
  position: relative;
  align-items: flex-start;
  height: 100%;
  width: 100%; */
}

.recommended-item-title {
  /* right: 5%; */
  /* position: absolute; */
  bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
