.recommended-item {
  object-fit: cover;
  position: relative;
}

.recommended-item-title {
  color: white;
  position: absolute;
  bottom: 3vh;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  right: 2vw;
}

.recommended-item-subsubject {
  color: white;
  position: absolute;
  bottom: 1vh;
  font-size: 16px;
  text-align: right;
  right: 2vw;
}
