.pdf-document {
  z-index: 2;
  position: absolute;
  overflow-y: auto;
  height: 72%;
  top: 19%;
  right: 10.4%;
  direction: ltr;
  padding-right: 19%;
}

@media (max-width: 1340px) {
  .pdf-document {
    right: 12%;
    width: 72%;
    height: 65%;
    top: 25%;
    padding-right: 1.5vw;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #c8c8c8;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
  border-radius: 10px;
}

.pdf-page-number {
  z-index: 3;
  position: relative;
  right: 46%;
  top: 90%;
  color: var(--white, var(--Main-colors-White, #fff));
  display: flex;
  width: 130px;
  height: 49px;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  line-height: 20px;
  border-radius: 30px;
  background: var(--body-text, #444a5a);
  box-shadow: 10px 12.6px 29px 0px rgba(67, 66, 89, 0.1);
}
