.admin-subsubject-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.admin-subsubject-header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 42.8px;
}

.admin-subsubject-top-approved {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.right-content {
}

.left-content {
  display: flex;
}
