.admin-subsubject-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.admin-subsubject-header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 42.8px;
}

.admin-subsubject-top-approved {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.orderBy-text {
  color: var(--Titale-2, #9599c6);
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.left-content {
  display: flex;
}
