.admin-container {
  display: flex;
  gap: 24px;
}

.admin-header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 42.8px;
}

.admin-upload-types-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.admin-upload-types-dropdown {
  display: flex;
  flex-direction: column;
  width: 9.531vw;
  background-color: var(--Main-colors-white, #fff);
  border-radius: 4px;
  padding: 4px 0;
  position: absolute;
  top: 60px;
}

.admin-upload-types-item {
  display: flex;
  gap: 8px;
  color: #4c4c66;
  padding: 10px 12px;
  cursor: pointer;
}

.admin-upload-types-item:hover {
  background-color: #f9f9fe;
  color: #808094;
}

.admin-top-approved {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-approved-edu-side {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 12px;
}

.admin-pending-approval-side {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 40px;
}

.admin-pending-approval-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.admin-other-header {
  color: var(--body-text, #444a5a);
  font-size: 16px;
  font-weight: 500;
  align-self: start;
}

.admin-upload-btn {
  display: flex;
  align-items: center;
  width: 7.7vw;
  padding: 12px 24px;
  background-color: #3259ff;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.admin-upload-img {
  width: 10px;
}

.admin-top-other {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.admin-link {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #4f35be;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparen;
  cursor: pointer;
}
