.home-page-wrapper {
  width: 59.5vw;
  margin-top: 8.13vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recommended-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #5d5d5d;
}

.recommended-container {
  display: flex;
  width: 100%;
}
.image-list {
  display: flex;
  flex-direction: column; /* Display items in a single column */
  align-items: center; /* Center the items horizontally */
  gap: 20px; /* Adjust as needed for spacing between items */
  overflow-y: auto; /* Add scrollbar if content overflows vertically */
}

.image-item {
  width: 100%; /* Ensure items take full width of container */
  height: 100%; /* Occupy full height of the container */
  overflow: hidden; /* Hide overflow if image exceeds container */
}

.image-item img {
  width: 100%; /* Allow the width to adjust based on aspect ratio */
  height: 100%;
  object-fit: cover;
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .image-item {
    max-width: calc(50% - 10px); /* Two items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .image-item {
    max-width: calc(
      100% - 10px
    ); /* Single item per row on even smaller screens */
  }
}
