.navbar-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100vh;
  background: linear-gradient(180deg, #66b5ee -1.13%, #498bcd 84.39%);
  box-shadow: 0px 4px 10px 0px #0000003d;
  right: 0;
  top: 0;
  z-index: 2;
  color: #fff;
}

.navbar-container.open {
  align-items: flex-start;
  width: 13.021vw;
  padding: 0px 16px;
}

.navbar-container.close {
  align-items: center;
  width: 5.313vw;
}

.horizonal-line {
  position: absolute;
  top: 5.6vh;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #f7f9fc;
  transform: translateY(-50%);
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.navbar-item.open {
  padding: 6px 8px;
}

.navbar-top-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.navbar-top-icons.open {
  align-items: flex-start;
}

.navbar-icons-container {
  display: flex;
  flex-direction: column;
  gap: 47.4vh;
}

.navbar-icon {
  width: 24px;
  cursor: pointer;
}

.navbar-item-text {
  font-size: 14px;
  font-weight: 400;
}

.navbar-button {
  cursor: pointer;
}

.navbar-bell-icon {
  width: 16px;
  height: 20px;
}

.navbar-bottom-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.navbar-bottom-icons.open {
  align-items: flex-start;
  padding: 6px 8px;
}

.navbar-profile-icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  border: 1px solid #345576;
  background: #1f304b;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
