.stage-upload-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.file-stage-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.files-container {
  display: flex;
  justify-content: space-between;
}

.stage-text {
  color: var(--body-text, #4c4c66);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  align-self: start;
}

.stage-file-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
