.file-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  padding: 0 48px;
  border-radius: 10px;
  border: 1px solid #9599c6;
  background: #f3fcff;
}

.file-preview-title {
  color: var(--body-text, #4c4c66);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.file-preview-delete-btn {
  color: #c0c0c0;
  font-size: 16px;
  padding: 12px 24px;
  width: fit-content;
  font-weight: 400;
  border-radius: 4px;
  border: 1.5px solid #c0c0c0;
}
