.file-upload-container {
  display: flex;
  height: 23vh;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.8px dashed var(--Title, #9599c6);
  cursor: pointer;
}

.file-upload-label {
  display: block;
  cursor: pointer;
}

.file-upload-text {
  color: #4c4c66;
  text-align: center;
  font-weight: 400;
  line-height: 18px;
}

.file-upload-type {
  color: #75757b;
  font-weight: 300;
}

.file-upload-text-container {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 22px;
}
