.search-container {
  background-color: #e8ebf4;
  font-size: 16px;
  padding: 0 1vw;
  border-radius: 4.06vw;
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-input {
  background-color: #e8ebf4;
  border: none;
  width: calc(100% - 30px);
  padding-left: 20px;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

.search-input::placeholder {
  color: #9599c6;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}
