.upload-details-approval {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-details-row {
  display: flex;
  gap: 24px;
}

.upload-details-text {
  color: #4c4c66;
  font-size: 16px;
  font-weight: 500;
}

.upload-details-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 0.93vh;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
