/* src/DropdownMenu.css */
.dropdown-container {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown-toggle {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.admin-order-by {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 1.08vw;
  cursor: pointer;
  color: var(--Titale-2, #9599c6);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.drop-down-container {
  position: relative;
  display: flex;
  margin-right: auto;
  align-items: center;
  color: #7d81b2;
  font-size: 14px;
  font-weight: 500;
  background: #f2f4fa;
}
.dropdown-menu {
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  top: 100%;
  border-radius: 4px;
  background: #e8ebf4;
  box-shadow: 10px 12.6px 29px 0px rgba(67, 66, 89, 0.1);
  padding: 10px 12px;
  /* align-items: flex-start; */
  gap: 24px;
}
.check-icon {
  width: 12px;
  height: 12px;
}
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  display: flex;
  width: 9.531vw;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  color: var(--body-text, #4c4c66);
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort-icon {
  width: 14px;
  height: 11px;
  flex-shrink: 0;
}
.dropdown-item.selected {
  display: flex;
  align-items: center;
  font-weight: bold;
  background: #e6e9f4;
  color: var(--primary, #3259ff);
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dropdown-sort-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  display: flex;
  width: 9.531vw;
  padding: 10px 12px;
  align-items: center;
  color: #4c4c66;
  font-family: Rubik;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dropdown-sort-item.selected {
  display: flex;
  align-items: center;
  font-weight: bold;
  background: #e6e9f4;
  color: #3259ff;
  font-family: Rubik;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-item:hover {
  background: #e6e9f4;
}
