@font-face {
  font-family: "Assistant";
  src: url("./assets/fonts/Assistant-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

html,
body {
  text-align: center;
  direction: rtl;
  background-color: #f6f6f6;
  font-family: Rubik;
  user-select: none;
  line-height: 150%;
}

input {
  border: 2px solid transparent;
}

.app {
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 80%;
  margin: 0 13.36% 0 6.72%;
}

.white-container {
  background-color: #ffffff;
}
