@font-face {
  font-family: "Assistant";
  src: url("./assets/fonts/Assistant-VariableFont_wght.ttf");
}

.App {
  text-align: center;
  direction: rtl;
  font-family: Assistant;
  user-select: none;
  display: flex;
}
