@font-face {
  font-family: "Assistant";
  src: url("./assets/fonts/Assistant-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

html,
body {
  text-align: center;
  direction: rtl;
  background-color: #f6f6f6;
  font-family: Rubik;
  user-select: none;
  line-height: 150%;
  margin: 0;
}

input {
  border: 2px solid transparent;
}

.app {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-container {
  width: 86.3%;
  margin-top: 7.77vh;
  height: fit-content;
}

.white-container {
  background-color: #ffffff;
}

.header {
  font-size: 32px;
  font-weight: 500;
  line-height: 6.04vh;
  position: relative;
  text-align: right;
  color: #444a5a;
}

.header::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 92px;
  height: 2px;
  background: linear-gradient(127deg, #6c60ff 18.87%, #3b2ed1 71.49%);
}
