.comments-container {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

.comment-bottom-container {
  display: flex;
  justify-content: space-between;
}

.comments-user-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.comments-more-container {
  display: flex;
  gap: 12px;
}

.select-comment-input {
  width: 18px;
  height: 18px;
  margin-right: -20px;
  cursor: pointer;
}

.select-comment-container {
  display: flex;
  gap: 13px;
}
