.media-files-preview-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  padding: 9px;
}

.media-file {
  width: 100%;
  height: 9.273vh;
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
}

.media-file-container {
  position: relative;
}

.media-file.grabbing {
  cursor: grabbing;
}

.media-file-cover.grab {
  cursor: grab;
}

.media-file-cover-container {
  border-radius: 8px;
  height: 31.667vh;
  position: relative;
}

.media-files-cover-title {
  position: relative;
  right: 10px;
  top: 13px;
  color: var(--Main-colors-White, #fff);
  text-shadow: 0px 1.573px 6.296px rgba(0, 0, 0, 0.25);
  font-size: 15.741px;
  font-weight: 600;
}

.media-files-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
}

.media-file-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 70.22%,
    rgba(0, 0, 0, 0.5) 104.02%
  );
  border-radius: 8px;
}

.media-file-add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 9.273vh;
  border-radius: 7.5px;
  border: 1px dashed #78beff;
  background: #e5f4ff;
  text-align: center;
  cursor: pointer;
}

.media-file-add-text {
  color: var(--body-text, #4c4c66);
  font-size: 14px;
  font-weight: 500;
}
