.recommended-section-wrapper {
  display: grid;
  grid-template-columns: 49% 49% auto;
  grid-gap: 2%;
  height: 53.95vh;
  width: 100%;
  margin-top: 2vh;
}

.recommendations-per-unit {
  height: 100%;
  display: flex;
  gap: 4%;
}

.main-recommendation {
  height: 100%;
}
